<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docker Services</title>
</head>
<body>
    <h1>Infrastructure <%= composeProjectName %></h1>
    <section class="status">
        <h2>Status</h2>
        <p class="status-text"><%= status == "OK" ? "Running" : "Stopped" %></p>
    </section>

    <section class="services">
        <h2>Services</h2>
        <% if (Object.keys(services).length === 0) { %>
            <p>No services found.</p>
        <% } else { %>
            <table>
                <thead>
                <tr>
                    <th>Service</th>
                    <th>Replicas</th>
                    <th>Start</th>
                    <th>Stop</th>
                    <th>Add</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <% for(const serviceName in services) { %>
                    <tr>
                        <td><%= serviceName %></td>
                        <td><%= services[serviceName] %></td>
                        <td><button class="start-service" data-service="<%= serviceName %>">Start</button></td>
                        <td><button class="stop-service" data-service="<%= serviceName %>">Stop</button></td>
                        <td><button class="add-service" data-service="<%= serviceName %>" data-scale="<%= services[serviceName] %>">Add</button></td>
                        <td><button class="remove-service" data-service="<%= serviceName %>" data-scale="<%= services[serviceName] %>">Remove</button></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } %>
    </section>

    <section class="containers">
        <h2>Containers</h2>
        <ul>
            <% containers.forEach(function(container) { %>
                <li><%= container.Names[0] %>: <%= container.State %></li>
            <% }); %>
        </ul>
    </section>

    <script src="script.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
</body>
</html>